<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DllExport" version="1.5.1" targetFramework="net462" />
  <package id="DotNetty.Buffers" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Codecs" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Common" version="0.3.2" targetFramework="net462" />
  <package id="DotNetty.Handlers" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Transport" version="0.3.2" targetFramework="net46" />
  <package id="log4net" version="2.0.7" targetFramework="net46" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="SharedMemory" version="2.0.16" targetFramework="net46" />
</packages>